



#supremeContainer {
	//border: 2px solid green;
	flex-shrink:0;
	


	.iframe-container {
		border-radius:20px;
		border: 1px solid #fff;
		overflow: hidden;
	 	iframe {
		   width:100%;
		   height: 200px;
		}


	}
	.brief-info {
		//white-space: nowrap;
		padding:5px;
		margin: 10px 0 15px;
		font-family: poppins;
		span {
			margin-right:5px;
			//display: inline-block;

		}
		.genres {
			//white-space: wrap;
			padding: 2px;
			span {
			      color: rgba(223,14,13);
			      border: 1px solid rgba(223,14,13,0.1);
			      font-weight: 400;
			      font-size: 14px;
			      padding: 4px;
			      border-radius: 50px;
			      text-align: center;



			}
		}

	}
	
	.overview {
		padding: 8px;
		font-family: "Poppins",Georgia;
		p{
			margin-bottom: 2.5rem;
			//padding: 5px;
			font-weight: 300;
		}
		.crew {
			
			ul {
				list-style: none;
				li {
					font-weight: bold;
					margin-bottom: 1rem;
					span {
						color: rgb(223,14,13);
						font-weight: 400;

					}
				}
			}
		}

	}



	@media (min-width: 768px){
		flex-shrink: 1;
		flex-grow: 3;
		.iframe-container {
			border-radius: 25px;
			border-width: 2px;


			iframe {
				height:400px;
				


			}
		}
		
	}

}




